<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishAot>true</PublishAot>
    <IsAotPublish>true</IsAotPublish>
    <PublishSingleFile>false</PublishSingleFile>
  </PropertyGroup>
</Project>
